PORT=3000
JWT_SECRET=change-me
SUPERVISOR_USERNAME=Superuser
SUPERVISOR_PASSWORD=change-me
MONGODB_URI=mongodb+srv://???
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=300
LOGIN_RATE_LIMIT_WINDOW_MS=600000
LOGIN_RATE_LIMIT_MAX=10
